.error-msg {
    color: #bd2130;
    margin-top: 10px;
    margin-bottom: 10px;
}

.ui-input {
    display: block;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
    width: 100%;
    padding: 3px 3px
}

.ui-input-desc {
    display: block;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
    padding: 3px 3px;
    width: 100%
}

.ui-button-squared {
    padding: 5px 5px;
    background: #F9CA47;
    border: 1px solid transparent;
    margin-top: 10px;
    float: right
}

.video-search-modal {
    max-width: 80% !important;
}

.fifty-width {
    width: 50%;
    display: inline-block;
}

.left {
    float: left
}

.click-for-more {
    text-decoration: underline;
    color: #0089e9;
    margin-top: 5px
}

.click-for-more:hover {
    cursor: pointer;
}

.remove {
    text-decoration: underline;
    color: #0089e9
}

.remove:hover {
    cursor: pointer;
}

.video-dropdown:hover {
    cursor: pointer;
}

.pagination-div {
    margin-top: 20px;
}

.search-video {
    clear: right;
    margin-top: 40px;
}

.video-search-img {
    height: 250px;
    width: 100%
}

.fa-search-icon {
    color: black;
   font-size: 16px;
    margin-left: 5px;
    margin-top: 10px;
    display: inline-block;
    float: right;
}

.fa-search-icon:hover {
    opacity: 0.7;
    cursor: pointer;
    scale: 1.1
}


